{% extends "base.html" %}
{% block base %}
<div class="container" style="max-width:80%;">
  <div class="row">

  {% if not updated%}

   <form action="/updateAttendance" method="POST" style="width:100%">
     {% csrf_token %}
   <legend>Attendence</legend>
    {% for student in students %}
      <div class="row">
       <div class="col-md-4">
        {{student.name}}
       </div>
        <div class="col-md-4">
         <input type="radio" name="Attendence{{student.id}}" value="Present" checked>Present
        </div>
        <div class="col-md-4">
          <input type="radio" name="Attendence{{student.id}}" value="Absent">Absent
        </div>
      </div>
     {% endfor %}
		 <input class=""type="submit" value="submit" style="margin-top:30px;">
	 </form>

 {% else %}
  <p>Today's Attendance has been Updated successfully</p>


 {% endif %}
 </div>
 <div class="row" style="margin-top:30px;">
   <p padding="5px">Notify Parents About Students attendace</p>
 </div>
 <div class="row" >

   <form action="/sendNotification" method="post"style="float:right">
     {% csrf_token %}
     <input class="" type="submit" value="Notify" >
   </form>
 </div>

</div>
{% endblock %}
