{% extends "base.html" %}
{% block base %}
<div class="container">
	<fieldset>
   <form action="/updateAttendance" method="POST">
     {% csrf_token %}
   <legend>Attendence</legend>
    {% for student in students %}
      <div class="row">
       <div class="col-md-6">
        {{student.name}}
       </div>
        <div class="col-md-6">
         <input type="radio" name="Attendence{{student.id}}" value="Present" checked>Present
         <input type="radio" name="Attendence{{student.id}}" value="Absent">Absent
        </div>
      </div>
     {% endfor %}
		 <input type="submit" value="submit">
	 </form>
 </fieldset>
</div>
{% endblock %}
