{% extends "base.html" %}
{% block base %}

<fieldset>
	 <legend>Login</legend>
   <form action="" method="post">
		 {{name}}
		 {% csrf_token %}
		 <label for="logid" style="font-size:30px; align:center;">Login ID </label><br>
		 <input type="text" placeholder="" style="margin-left:20px; width:30%; height:30px;" name="logid"><br>
		 <label for="psw" style="font-size:30px;">Password</label><br>
		 <input type="text" placeholder="" style="margin-left:20px; width:30%; height:30px;" name="psw"><br><br><br>
     <input type="submit" name="submit">
	 </form>
 </fieldset>

 {% endblock %}
